<!DOCTYPE html>
<html>
<head>
  <title>Mezzo</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div id="side-nav">
    <div class="side-nav-header">
      <p>Header</p>
    </div>
    <ul class="side-menu-list">
      <a href="#"><li>Hi Man</a></a>
      <a href="#"><li>Who am I</li></a>
      <a href="#"><li>Test</li></a>
    </ul>
    <div id="side-nav-footer">
      <p>This is good</p>
    </div>
  </div>

  <div id="overlay">
  </div>

  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header navbar-right">
        <button type="button" id="hamburger-menu-slider" class="navbar-toggle navbar-hamburger pull-left" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <div class="navbar-brand pull-right user-buttons">
        <% if signed_in? %>
          <p><span class="glyphicon glyphicon-user"></span><span><%= link_to "Sign Out", destroy_user_session_path, :method => :delete%></span></p>
          <%= link_to "Edit Profile", '/users/edit'%>
        <% else %>
          <%= link_to "Sign In", '/users/sign_in'%>
          <%= link_to "Sign Up", '/users/sign_up'%>
        <% end %>
        </div>

        <div id="search-bar">
          <form class="navbar-form col-xl-9" role="search">
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Search">
            </div>
          </form>
        </div>
      </div>
    <!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
    <div class="sub-nav">
      <div class="sub-nav-option"><p>Notes</p></div>
      <div class="sub-nav-option"><p>Chat</p></div>
      <div class="sub-nav-option"><p>Decks</p></div>
    </div>
  </nav>




  <!-- Main Content Container-->
  <div id="main-container">
    <%= yield %>
  </div>





  <!-- Footer Container -->
    <div id="footer">
      <div class="container">
        <p class="muted credit">Written by Christopher Cooper</p>
      </div>
    </div>

</body>
</html>
